<form action="/auth/super-admin/login" method="post">

    <div class="mb-3">

        <label>Email</label>

        <input
                type="email"
                class="form-control"
                name="email"
                required>

    </div>

    <div class="mb-4">

        <label>Senha</label>

        <input
                type="password"
                class="form-control"
                name="password"
                required>

    </div>

    <button class="btn btn-success w-100">

        Entrar no Painel

    </button>

</form>