<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="landingNavbar" class="navbar navbar-expand-lg fixed-top landing-navbar">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="${'/'}">
            <img th:src="${'/images/logo.png'}" alt="SYNGE Logo" height="150">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#landingNav" aria-controls="landingNav" aria-expanded="false" aria-label="Abrir menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="landingNav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="${'/#inicio'}">Início</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/#recursos'}">Recursos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/#modulos'}">Módulos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/#beneficios'}">Benefícios</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/#planos'}">Planos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/#contato'}">Contato</a></li>
            </ul>
            <div class="d-flex align-items-center gap-2 flex-wrap">
                <a class="btn btn-outline-dark" th:href="${'/login'}">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</nav>

<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${#authentication.name} ?: 'Usuário'">Usuário</span> (<span th:text="${#authentication.principal.authorities[0].authority} ?: 'Função'">Função</span>)
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="${'/logout'}">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
